<app-toolbar>
  <div card-left class="card selected">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Budget</div>
<!--      <div *ngIf="historyTasks">Total : {{historyTasks.length}}</div>-->
    </div>
  </div>
  <div action>
    <a class="circle-link float-right" [routerLink]="['/']">
      <i class="fas fa-times"></i>
    </a>
  </div>
</app-toolbar>

<div class="container-fluid">
<!--  <div *ngIf="tasks" [@listStagger]='tasks.length'>-->
  <div *ngIf="tasks">
    <div class="card shadow-sm mb-2" *ngFor="let task of tasks">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-2" (click)="consultTask(task)">
            <app-category-icon [srcImg]="getPath(task.category)"></app-category-icon>
          </div>
          <div class="col-8" (click)="consultTask(task)">
            <div class="card-title">{{ task.description }}</div>
          </div>
          <div class="col-2">
<!--            <i class="fa fa-thumbs-up"></i>-->
            {{ task.amount }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-subtitle text-muted">{{ task.nextRepeat | stringToDate | date : 'EEEE, d MMMM yyyy' }}</div>
      </div>
    </div>
  </div>
</div>
