<app-toolbar>
  <div card-left class="card selected">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Budget</div>
<!--      <div *ngIf="historyNotes">Total : {{historyNotes.length}}</div>-->
    </div>
  </div>
  <div action>
    <a class="circle-link float-right" [routerLink]="['/']">
      <i class="fas fa-times"></i>
    </a>
    <a class="circle-link float-right m2" [routerLink]="['/budget-month']">
      <i class="fas fa-calendar"></i>
    </a>
  </div>
</app-toolbar>

<app-note-list [notes]="notes"></app-note-list>
