.category-icon {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  /*background-color: #bbb;*/
}

.category-icon img {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  z-index: 2;
}

.dot {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #d6cbf3;
  border-radius: 50%;
  border-bottom-right-radius: 0%;
  z-index: 1;
}

.dot2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #d6cbf3;
  border-radius: 50%;
  border-top-left-radius: 0%;
  z-index: 0;
}
