<app-toolbar>
  <div card-left class="card" [class.selected]="todaySelected" (click)="goPresent()">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Today - {{ today | date: 'd MMM' }}</div>
      <div *ngIf="todayNotesSize">Total : {{todayNotesSize}}</div>
    </div>
  </div>
  <div card-right class="card" [class.selected]="tomorrowSelected" (click)="goFuture()">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Tomorrow</div>
      <div *ngIf="tomorrowNotesSize">Total : {{tomorrowNotesSize}}</div>
    </div>
  </div>
  <div action>
    <a class="circle-link" [routerLink]="['/editNote', '0']">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</app-toolbar>

<app-note-list [notes]="notes"></app-note-list>
