<div class="container-fluid">
  <div *ngIf="notes">
    <div class="card shadow-sm mb-2" *ngFor="let note of notes">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-2" (click)="consultNote(note)">
            <app-category-icon [srcImg]="getPath(note.tagList)"></app-category-icon>
          </div>
          <div class="col-8" (click)="consultNote(note)">
            <div class="card-title">{{ note.description }}</div>
          </div>
          <div class="col-2" (click)="acceptNote(note)">
            <i class="fa fa-thumbs-up"></i>
          </div>
        </div>
      </div>
      <div class="card-footer"
           [class.objective]="note.category.valueOf() == 'OBJECTIVE'"
           [class.budget]="note.category.valueOf() == 'BUDGET'"
           [class.task]="note.category.valueOf() == 'TASK'">
        <div class="card-subtitle text-muted">{{ note.nextRepeat | stringToDate | date : 'EEEE, d MMMM yyyy' }}</div>
      </div>
    </div>
  </div>
</div>
