<app-toolbar>
  <div card-left>
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Today - {{ today | date: 'd MMM' }}</div>
      <div *ngIf="notes">total : {{notes.length}}</div>
    </div>
  </div>
  <div card-right class="selected">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Tomorrow</div>
      <div>total : 4</div>
    </div>
  </div>
  <div action>
    <a class="circle-link float-right" [routerLink]="['/']">
      <i class="fas fa-times"></i>
    </a>
  </div>
</app-toolbar>

<div class="container-fluid">
  <div class="card shadow-sm mb-2" *ngFor="let note of notes">
    <div class="card-body">
      <div class="row align-items-center" (click)="consultTask(note)">
        <div class="col-2">
          <app-category-icon [srcImg]="getPath(note.category)"></app-category-icon>
        </div>
        <div class="col-8">
          <div class="card-title">{{ note.description }}</div>
        </div>
        <div class="col-1">
          <!--          <i class="fa fa-thumbs-up"></i>-->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-subtitle text-muted">{{ note.nextRepeat | stringToDate | date : 'EEEE, d MMMM yyyy' }}</div>
    </div>
  </div>
</div>
