<div class="toolbar container">
  <div class="row justify-content-end">
    <div class="col">
      <a class="circle-link float-right" [routerLink]="['/']">
        <i class="fas fa-arrow-left"></i>
      </a>
      <!--    <a [routerLink]="['/movie', movie.id]">-->
<!--      <div class="custom-control custom-switch float-right">-->
<!--        <input type="checkbox" class="custom-control-input" id="customSwitch1">-->
<!--        <label class="custom-control-label" for="customSwitch1"><i class="fa fa-edit"></i></label>-->
<!--      </div>-->
    </div>
  </div>
</div>

<p>task-detail works!</p>
