<div class="toolbar container">
  <div class="row justify-content-end">
    <h3 [hidden]="!isNewTask">Create Task</h3>
    <h3 [hidden]="isNewTask">Update Task</h3>
    <div class="col">
      <a class="circle-link float-right" [routerLink]="['/']">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>

<div>&nbsp;</div>

<div class="container-fluid">

  <div *ngIf="formGroup">
    <div id="accordion">
      <form [formGroup]="formGroup">
        <!-- description -->
        <app-card-accordion collapseId="collapseOne" [showCollapse]="isNewTask">
          <div header>
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
              <span *ngIf="isNewTask">Description</span>{{ task.description }}
            </button>
          </div>
          <div body>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description" required>
            </div>
          </div>
        </app-card-accordion>
        <!-- category -->
        <app-card-accordion collapseId="collapseTwo">
          <div header>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
              <span *ngIf="isNewTask">Category</span>{{ task.category }}
            </button>
          </div>
          <div body>
            <div class="form-group">
              <div *ngFor="let item of allCategory()">
                <label>
                  <input type="radio" value="{{ item }}" formControlName="category">
                  <span>{{ item }}</span>
                </label>
              </div>
            </div>
          </div>
        </app-card-accordion>
        <!-- Repeat -->
        <app-card-accordion collapseId="collapseThree">
          <div header>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
              <span *ngIf="isNewTask">Repeat</span>1 fois par semaine (TODO)
            </button>
          </div>
          <div body>
            <p>une seul fois</p>
            <p>tous les jours</p>
            <p>une fois par semaine</p>
            <p>une fois par mois</p>
            <p>une fois par an</p>
            <p>tous les ? jours</p>
            <p>tous les ? mois</p>
            <p>tous les ? ans</p>
          </div>
        </app-card-accordion>

      </form>
    </div>
  </div>

  <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

</div>


