<div id="mySidenav" class="sidenav" #mySidenav>
  <a class="close" (click)="closeNav()">&times;</a>
  <a>About</a>
  <a [routerLink]="['/done-notes']" (click)="closeNav()">Tâches terminées</a>
  <a [routerLink]="['/budget']" (click)="closeNav()">Budget</a>
</div>

<header>
  <span style="font-size:1.5em;cursor:pointer" (click)="openNav()"><i class="fa fa-bars"></i></span>
  <div></div>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>&nbsp;</div>

<footer>
  Copyright
</footer>
