@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/css/component.css";

:root {
  --color-one: #d6cbf3;
}

body {
  background-color: #eeeeee;
  font-family: "Calibri", "Times New Roman", serif;
}

header {
  background-color: var(--color-one);
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.5em 0 0.5em;
}

.toolbar {
  /*border-top: 1px solid #6F6887;*/
  background-color: var(--color-one);
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em 0 0.5em;
}

.toolbar-info {
  /*border-top: 1px solid #6F6887;*/
  /*z-index: 100;*/
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em 0 0.5em;
  margin-bottom: 0.4em;
  /*background-color: red;*/
}

.toolbar-info span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: var(--color-one);
  z-index: -1;
}

.toolbar-info .card {
  width: 50%;
  margin: 0 0.5em 0 0.5em;
  /*padding: 0 0.2em 0 0.2em;*/
  /*background-color: red;*/
  /*border-radius: 0 9px 9px 0;*/
}

.toolbar-info .selected {

  border: 1px solid black;
}


footer {
  background-color: var(--color-one);
}

@media (max-width: 640px) {
  * {
    box-sizing: border-box;
  }

  /* passer body (et tous les éléments de largeur fixe) en largeur automatique */
  body {
    width: auto;
    margin: 0;
    padding: 0;
    /*background-color: lightgrey;*/
  }

  /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100%;
  }

  /* conserver le ratio des images */
  img {
    height: auto;
  }

  /* gestion des mots longs */
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
  }

  code,
  pre,
  samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }

  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
  .element1,
  .element2 {
    float: none;
    width: auto;
  }

  /* masquer les éléments superflus */
  .hide_mobile {
    display: none !important;
  }

  /* Un message personnalisé */
  body:before {
    content: "Version mobile du site";
    display: block;
    text-align: center;
    font-style: italic;
    color: #777;
  }
}

@media (max-device-width: 768px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}
