<div class="container-fluid">

  <!-- card with shadow - mb-3 : space between cards  -->
  <div class="card card-task shadow-sm mb-2" *ngFor="let task of tasks">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <app-category-icon [srcImg]="getPath(task.category)"></app-category-icon>
        </div>
        <div class="col-10">
          <div class="card-title">{{ task.description }}</div>
          <div class="card-subtitle text-muted">{{task.category}}</div>
        </div>
      </div>
      <!--<div class="arrow-right"></div>-->
    </div>
    <div class="card-footer">
      <div class="card-subtitle text-muted">Aujourd'hui</div>
    </div>
  </div>

</div>
