<app-toolbar>
  <div left>
    <p *ngIf="tasks">{{tasks.length}}</p>
  </div>
  <div right>
        <div class="col">
          <a class="circle-link float-right" [routerLink]="['/taskDetail', '0']">
            <i class="fas fa-plus"></i>
          </a>
          <a class="circle-link float-right" (click)="tasksInNow()">
            <i class="fas fa-arrow-down"></i>
          </a>
          <a class="circle-link float-right" (click)="tasksInFuture()">
            <i class="fas fa-arrow-right"></i>
          </a>

        </div>

  </div>
</app-toolbar>


<div class="container-fluid">

  <!-- card with shadow - mb-3 : space between cards  -->
  <div class="card card-task shadow-sm mb-2" *ngFor="let task of tasks">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <app-category-icon [srcImg]="getPath(task.category)"></app-category-icon>
        </div>
        <div class="col-8" (click)="editTask(task)">
          <div class="card-title">{{ task.description }}</div>
          <div class="card-subtitle text-muted">{{task.repeat}} {{task.extraRepeat}}</div>
        </div>
        <div class="col-1">
          <i class="fa fa-thumbs-up" (click)="acceptTask(task)"></i>
        </div>
      </div>
      <div *ngIf="editTaskList" class="arrow-right" (click)="editTask(task)"></div>
    </div>
    <div class="card-footer">
      <div class="card-subtitle text-muted">{{ task.nextRepeat | stringToDate | date : 'EEEE, d MMMM yyyy' }}</div>
    </div>
  </div>

</div>
