<app-toolbar>
  <div card-left class="card selected">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Consultation</div>
      <div>&nbsp;</div>
    </div>
  </div>
  <div card-right>
    <div style="padding: 0 0.2em 0 0.2em;">
      <a class="circle-link float-right" (click)="backView()">
        <i class="fas fa-times"></i>
      </a>
      <a *ngIf="note" class="circle-link float-right" [routerLink]="['/editNote', note.key]">
        <i class="fas fa-pencil-alt"></i>
      </a>
    </div>
  </div>
</app-toolbar>

<div class="container-fluid">
  <div class="card shadow-sm mb-2" *ngIf="note">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-2">
          <app-category-icon [srcImg]="getPath(note.tagList)"></app-category-icon>
        </div>
        <div class="col-8">
          <div class="card-title">{{ note.description }}</div>
          <div class="card-subtitle text-muted">{{note.repeat}} {{note.extraRepeat}} </div>
        </div>
        <div class="col-1">
          <!--        <i class="fa fa-thumbs-up"></i>-->
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-subtitle text-muted">{{ note.nextRepeat | stringToDate | date : 'EEEE, d MMMM yyyy' }}</div>
    </div>
  </div>

  <div class="card shadow-sm mb-2" *ngIf="note">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="card-title">Historique</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div *ngFor="let history of historyNotes">
        <div class="card-subtitle text-muted">
          {{history.hDate | stringToDate | date: 'EEEE, d MMMM yyyy, h:mm:ss'}}
        </div>
      </div>
    </div>

  </div>
</div>
