<app-toolbar>
  <div card-left class="card selected">
    <div style="padding: 0 0.2em 0 0.2em;">
      <div>Edition</div>
    </div>
  </div>
  <div card-right>
    <div style="padding: 0 0.2em 0 0.2em;">
      <a class="circle-link float-right" (click)="backView()">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</app-toolbar>

<div class="container-fluid">

  <div *ngIf="formGroup">
    <div id="accordion">
      <form [formGroup]="formGroup">
        <!-- description -->
        <app-card-accordion cardAccordionId="collapseOne" nextCardAccordionId="collapseTwo" [open]="isNewNote"
                            [stepAction]="isNewNote"
                            (saveCard)="onSubmit()">
          <div header>
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
              <span *ngIf="isNewNote">Description</span>{{ note.description }}
            </button>
          </div>
          <div body>
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description" required>
          </div>
        </app-card-accordion>
        <!-- category -->
        <app-card-accordion cardAccordionId="collapseTwo" nextCardAccordionId="collapseThree" [stepAction]="isNewNote"
                            (saveCard)="onSubmit()" #collapseTwo>
          <div header>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
              <span *ngIf="isNewNote">Category</span>{{ note.category }}
            </button>
          </div>
          <div body>

            <div *ngFor="let item of allCategory()">
              <label>
                <input type="radio" value="{{ item }}" formControlName="category">
                <span>{{ item }}</span>
              </label>
            </div>

            <label formArrayName="tagList" *ngFor="let order of formGroup.controls.tagList.controls; let i = index">
              <input type="checkbox" [formControlName]="i">
              {{allTag()[i]}}
            </label>

<!--            <div *ngFor="let n of formGroup.controls.tagList.controls; let i = index">-->
<!--              <input type="checkbox" [formControl]="n">-->
<!--              {{allTag()[i]}}-->
<!--            </div>-->

          </div>
        </app-card-accordion>
        <!-- Repeat -->
        <app-card-accordion cardAccordionId="collapseThree" nextCardAccordionId="collapseFour" [stepAction]="isNewNote"
                            (saveCard)="onSubmit()" #collapseThree>
          <div header>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
              <span *ngIf="!note.repeat">Repeat</span>{{ note.repeat }} {{ note.extraRepeat }}
            </button>
          </div>
          <div body>
            <div *ngFor="let item of allRepeat()">
              <label>
                <input type="radio" value="{{ item }}" formControlName="repeat">
                <span>{{ item }}</span>
              </label>
            </div>
            <div class="formGroup">
              <label for="extraRepeat">Extra</label>
              <input type="text" class="form-control" id="extraRepeat" formControlName="extraRepeat" required>
            </div>
          </div>
        </app-card-accordion>
        <!-- Amount -->
        <app-card-accordion cardAccordionId="collapseFour" nextCard="true"
                            (saveCard)="onSubmit()" #collapseFour>
          <div header>
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
              <span *ngIf="isNewNote">Amount</span>{{ note.amount }}
            </button>
          </div>
          <div body>
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" formControlName="amount" required>
          </div>
        </app-card-accordion>

      </form>
    </div>
  </div>

</div>
